<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532132399001-jq4ptrf7b5f7gd4gjdhqllqcn6hgp3fg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532132399001-jq4ptrf7b5f7gd4gjdhqllqcn6hgp3fg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532132399001-0pgmtbsfafqj0rgkt9oihcsdm0k53e98.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtu-20IQ8sO6uRNQSWhWywtbpaB5S_Jkw</string>
	<key>GCM_SENDER_ID</key>
	<string>532132399001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiddentable.de</string>
	<key>PROJECT_ID</key>
	<string>hiddentable-ec165</string>
	<key>STORAGE_BUCKET</key>
	<string>hiddentable-ec165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532132399001:ios:0fd7f95ad0e0243644f508</string>
</dict>
</plist>