<manifest xmlns:android="http://schemas.android.com/apk/res/android"  xmlns:tools="http://schemas.android.com/tools" package="com.superpie.de">
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.INTERNET"/> 
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <queries>
      <package android:name="com.instagram.android" />
      <package android:name="com.zhiliaoapp.musically" />
      <package android:name="com.facebook.katana" />
      <package android:name="com.facebook.orca" />
      <package android:name="org.telegram.messenger" />
      <package android:name="com.whatsapp" />
      <package android:name="com.twitter.android" />  
      <!-- <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />
      <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> -->
    </queries>
    <queries>
      <intent>
        <action android:name="android.intent.action.INSERT" />
        <data android:mimeType="vnd.android.cursor.item/event" />
      </intent>
    </queries>
    <application
        android:label="Superpie"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
<!-- 
        <provider android:name="com.facebook.FacebookContentProvider" android:authorities="com.facebook.app.FacebookContentProvider1436424687154630"
             android:exported="true" /> -->
        <!-- <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />
        <meta-data 
        android:name="com.facebook.sdk.ClientToken" 
        android:value="@string/facebook_client_token"/> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="flutterEmbedding"
              android:value="2" 
              />
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="com.google.android.gms.wallet.api.enabled"
              android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- <data android:scheme="http" android:host="yourWebsite.de" /> -->
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <provider android:name="androidx.core.content.FileProvider" 
               android:authorities="${applicationId}.provider"
               android:exported="false" android:grantUriPermissions="true">
           <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths_app" />
        </provider>

    </application>
</manifest>
